version: '3.5'

secrets:
  transip_account:
    file: ./.secrets/transip_account.secret
  transip_private_key:
    file: ./.secrets/transip_key.secret

services:
  hydra2:
    container_name: hydra2
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/hydra2
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hydra2.rule=Host(`hydra2.maartenzuidland.nl`)"
      - "traefik.http.routers.hydra2.entrypoints=websecure"
      - "traefik.http.routers.hydra2.tls.certresolver=mydnschallenge"
    networks:
        - web
    ports:
      - '5076:5076'
    restart: unless-stopped
    volumes:
      - '${hydra_config}:/config'
      - '${downloads}:/downloads'
  nzbget:
    container_name: nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/nzbget
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nzbget.rule=Host(`nzbget.maartenzuidland.nl`)"
      - "traefik.http.routers.nzbget.entrypoints=websecure"
      - "traefik.http.routers.nzbget.tls.certresolver=mydnschallenge"
    networks:
        - web
    ports:
      - '6788:6789'
    restart: unless-stopped
    volumes:
      - '${nzbget_config}:/config'
      - '${downloads}:/downloads'
      - '${main_drive}:/Volumes/My Book'
  sonarr:
    container_name: sonarr
    depends_on:
      - hydra2
      - nzbget
    links:
      - hydra2
      - nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/sonarr:preview
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.maartenzuidland.nl`)"
      - "traefik.http.routers.sonarr.entrypoints=websecure"
      - "traefik.http.routers.sonarr.tls.certresolver=mydnschallenge"
    networks:
        - web
    ports:
      - '8989:8989'
    restart: unless-stopped
    volumes:
      - '${sonarr_config}:/config'
      - '${downloads}:/downloads'
      - '${tv}:/tv'
      - '${main_drive}:/Volumes/My Book'
  radarr:
    container_name: radarr
    depends_on:
      - hydra2
      - nzbget
    links:
      - hydra2
      - nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/radarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.maartenzuidland.nl`)"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.tls.certresolver=mydnschallenge"
    networks:
        - web
    ports:
      - '7878:7878'
    restart: unless-stopped
    volumes:
      - '${radarr_config}:/config'
      - '${downloads}:/downloads'
      - '${movies}:/movies'
      - '${main_drive}:/Volumes/My Book'
  ombi:
    image: linuxserver/ombi
    container_name: ombi
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ombi.rule=Host(`ombi.maartenzuidland.nl`)"
      - "traefik.http.routers.ombi.entrypoints=websecure"
      - "traefik.http.routers.ombi.tls.certresolver=mydnschallenge"
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    networks:
      - web
    volumes:
      - '${ombi_config}:/config'
    ports:
      - 3579:3579
    restart: unless-stopped

  nextclouddb:
    image: mariadb
    container_name: nextclouddb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: unless-stopped
    ports:
      - 3306:3306
    networks:
      - internal
    volumes:
      - '${nextcloud_config}/mysql:/var/lib/mysql'
    environment:
      - MYSQL_ROOT_PASSWORD=Drunen_11!
      - MYSQL_PASSWORD=Drunen_11!
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
  
  nextcloud:
    image: nextcloud
    container_name: nextcloud
    ports: 
      - 8089:80
    volumes:
      - '${main_drive}:/Volumes/My Book'
      - '${nextcloud_config}/www:/var/www/html'
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.maartenzuidland.nl`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=mydnschallenge"
    networks: 
      - web
      - internal
  
#  traefik:
#    container_name: traefik
#    command: --api --docker
#    image: traefik:v1.7
#    restart: always
#    labels:
#      - "traefik.enable=true"
#      - "traefik.docker.network=web"
#      - "traefik.basic.frontend.rule=Host:traefik.maartenzuidland.nl"
#    environment:
#      - TRANSIP_ACCOUNT_NAME=${TRANSIP_ACCOUNT_NAME}
#      - TRANSIP_PRIVATE_KEY_PATH=${TRANSIP_PRIVATE_KEY_PATH}
#    volumes:
#      - '${traefik_config}/traefik.toml:/traefik.toml'
#      - '${traefik_config}/acme.json:/acme.json'
#      - '${traefik_config}/transip.key:/etc/traefik/acme/transip.key'
#      - /var/run/docker.sock:/var/run/docker.sock
#    ports:
#      - 80:80
#      - 443:443
#      - 8082:8080
#    networks:
#        - web
  traefik2:
    image: "traefik:v2.0.0"
    container_name: "traefik2"
    command:
      - "--global.sendAnonymousUsage"
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesResolvers.mydnschallenge.acme.tlsChallenge=false"
      - "--certificatesResolvers.mydnschallenge.acme.httpChallenge=false"
      - "--certificatesresolvers.mydnschallenge.acme.dnschallenge=true"
      - "--certificatesresolvers.mydnschallenge.acme.dnschallenge.provider=transip"
      #- "--certificatesresolvers.mydnschallenge.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.mydnschallenge.acme.email=maarten.zuidland@gmail.com"
      - "--certificatesresolvers.mydnschallenge.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    secrets:
      - "transip_account"
      - "transip_private_key"
    environment:
      - "TRANSIP_ACCOUNT_NAME_FILE=/run/secrets/transip_account"
      - "TRANSIP_PRIVATE_KEY_PATH=/run/secrets/transip_private_key"
    volumes:
      - "${traefik2_config}/letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

networks:
    web:
        driver: bridge
        name: web
    internal:
        external: false
        name: internal
