version: '3.5'

services:
  hydra2:
    container_name: hydra2
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/hydra2
    labels:
      - "traefik.enable=true"
    networks:
        - web
    ports:
      - '5076:5076'
    restart: unless-stopped
    volumes:
      - '${hydra_config}:/config'
      - '${downloads}:/downloads'
  nzbget:
    container_name: nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/nzbget
    labels:
      - "traefik.enable=true"
    networks:
        - web
    ports:
      - '6789:6789'
    restart: unless-stopped
    volumes:
      - '${nzbget_config}:/config'
      - '${downloads}:/downloads'
      - '${main_drive}:/Volumes/My Book'
  sonarr:
    container_name: sonarr
    depends_on:
      - hydra2
      - nzbget
    links:
      - hydra2
      - nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/sonarr:preview
    labels:
      - "traefik.enable=true"
    networks:
        - web
    ports:
      - '8989:8989'
    restart: unless-stopped
    volumes:
      - '${sonarr_config}:/config'
      - '${downloads}:/downloads'
      - '${tv}:/tv'
      - '${main_drive}:/Volumes/My Book'
  radarr:
    container_name: radarr
    depends_on:
      - hydra2
      - nzbget
    links:
      - hydra2
      - nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/radarr
    labels:
      - "traefik.enable=true"
    networks:
        - web
    ports:
      - '7878:7878'
    restart: unless-stopped
    volumes:
      - '${radarr_config}:/config'
      - '${downloads}:/downloads'
      - '${movies}:/movies'
      - '${main_drive}:/Volumes/My Book'
  ombi:
    image: linuxserver/ombi
    container_name: ombi
    labels:
      - "traefik.enable=true"
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    networks:
      - web
    volumes:
      - '${ombi_config}:/config'
    ports:
      - 3579:3579
    restart: unless-stopped
  
  traefikv2:
    # The official v2.0 Traefik docker image
    image: traefik:v2.0
    container_name: "traefikv2"
    # Enables the web UI and tells Traefik to listen to docker
    command: 
      - "--api"
      - "--api-dashboard"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=web"
      = "--providers.docker.defaultRule=Host('{{ .Name }}.maartenzuidland.nl')"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.mydnschallenge.acme.dnschallenge=true"
      - "--certificatesresolvers.mydnschallenge.acme.dnschallenge.provider=transip"
      #- "--certificatesresolvers.mydnschallenge.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.mydnschallenge.acme.email=maarten.zuidland@gmail.com"
      - "--certificatesresolvers.mydnschallenge.acme.storage=/letsencrypt/acme.json"
    environment:
      - TRANSIP_ACCOUNT_NAME=${TRANSIP_ACCOUNT_NAME}
      - TRANSIP_PRIVATE_KEY_PATH=/transip.key
    ports:
      # The HTTP port
      - "80:80"
      - "443:443"
      # The Web UI (enabled by --api)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - '${traefik_config}/letsencrypt:/letsencrypt'
      # - '${traefik_config}/traefik.toml:/traefik.toml'
      - '${traefik_config}/transip.key:/transip.key'

networks:
    web:
        driver: bridge
        name: web
