version: '3.5'

secrets:
  transip_account:
    file: ${traefik_secrets}/transip_account.secret
  transip_private_key:
    file: ${traefik_secrets}/transip_key.secret

services:
  hydra2:
    container_name: hydra2
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/nzbhydra2
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.hydra2-redirect-websecure.redirectscheme.scheme=https"
      - "traefik.http.routers.hydra2.middlewares=hydra2-redirect-websecure"
      - "traefik.http.routers.hydra2.rule=Host(`hydra2.maartenzuidland.nl`)"
      - "traefik.http.routers.hydra2.entrypoints=web"      
      - "traefik.http.routers.hydra2-secure.rule=Host(`hydra2.maartenzuidland.nl`)"
      - "traefik.http.routers.hydra2-secure.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.hydra2-secure.tls=true"
      - "traefik.http.routers.hydra2-secure.entrypoints=websecure"
    networks:
        - web
    ports:
      - '5076:5076'
    restart: unless-stopped
    volumes:
      - '${hydra_config}:/config'
      - '${downloads}:/downloads'
  nzbget:
    container_name: nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/nzbget
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.nzbget-redirect-websecure.redirectscheme.scheme=https"
      - "traefik.http.routers.nzbget.middlewares=nzbget-redirect-websecure"
      - "traefik.http.routers.nzbget.rule=Host(`nzbget.maartenzuidland.nl`)"
      - "traefik.http.routers.nzbget.entrypoints=web"      
      - "traefik.http.routers.nzbget-secure.rule=Host(`nzbget.maartenzuidland.nl`)"
      - "traefik.http.routers.nzbget-secure.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.nzbget-secure.tls=true"
      - "traefik.http.routers.nzbget-secure.entrypoints=websecure"
    networks:
        - web
    ports:
      - '6788:6789'
    restart: unless-stopped
    volumes:
      - '${nzbget_config}:/config'
      - '${downloads}:/downloads'
      - '${main_drive}:/Volumes/My Book'

  sonarr:
    container_name: sonarr
    depends_on:
      - hydra2
      - nzbget
    links:
      - hydra2
      - nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/sonarr:preview
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.sonarr-redirect-websecure.redirectscheme.scheme=https"
      - "traefik.http.routers.sonarr.middlewares=sonarr-redirect-websecure"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.maartenzuidland.nl`)"
      - "traefik.http.routers.sonarr.entrypoints=web"      
      - "traefik.http.routers.sonarr-secure.rule=Host(`sonarr.maartenzuidland.nl`)"
      - "traefik.http.routers.sonarr-secure.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.sonarr-secure.tls=true"
      - "traefik.http.routers.sonarr-secure.entrypoints=websecure"
    networks:
        - web
    ports:
      - '8989:8989'
    restart: unless-stopped
    volumes:
      - '${sonarr_config}:/config'
      - '${downloads}:/downloads'
      - '${tv}:/tv'
      - '${main_drive}:/Volumes/My Book'
  radarr:
    container_name: radarr
    depends_on:
      - hydra2
      - nzbget
    links:
      - hydra2
      - nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/radarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.radarr-redirect-websecure.redirectscheme.scheme=https"
      - "traefik.http.routers.radarr.middlewares=radarr-redirect-websecure"
      - "traefik.http.routers.radarr.rule=Host(`tv.maartenzuidland.nl`)"
      - "traefik.http.routers.radarr.entrypoints=web"      
      - "traefik.http.routers.radarr-secure.rule=Host(`tv.maartenzuidland.nl`)"
      - "traefik.http.routers.radarr-secure.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.radarr-secure.tls=true"
      - "traefik.http.routers.radarr-secure.entrypoints=websecure"
    networks:
        - web
    ports:
      - '7878:7878'
    restart: unless-stopped
    volumes:
      - '${radarr_config}:/config'
      - '${downloads}:/downloads'
      - '${movies}:/movies'
      - '${main_drive}:/Volumes/My Book'
  bazarr:
    container_name: bazarr
    depends_on:
      - radarr
      - sonarr
      - nzbget
    links:
      - radarr
      - sonarr
      - nzbget
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ} 
    image: linuxserver/bazarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.bazarr-redirect-websecure.redirectscheme.scheme=https"
      - "traefik.http.routers.bazarr.middlewares=bazarr-redirect-websecure"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.maartenzuidland.nl`)"
      - "traefik.http.routers.bazarr.entrypoints=web"      
      - "traefik.http.routers.bazarr-secure.rule=Host(`bazarr.maartenzuidland.nl`)"
      - "traefik.http.routers.bazarr-secure.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.bazarr-secure.tls=true"
      - "traefik.http.routers.bazarr-secure.entrypoints=websecure"
    networks:
      - web
    ports:
      - 6767:6767
    restart: unless-stopped
    volumes:
      - '${bazarr_config}:/config'
      - '${movies}:/movies'
      - '${tv}:/tv'
      - '${main_drive}:/Volumes/My Book'

  ombi:
    image: linuxserver/ombi
    container_name: ombi
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.ombi-redirect-websecure.redirectscheme.scheme=https"
      - "traefik.http.routers.ombi.middlewares=ombi-redirect-websecure"
      - "traefik.http.routers.ombi.rule=Host(`ombi.maartenzuidland.nl`)"
      - "traefik.http.routers.ombi.entrypoints=web"      
      - "traefik.http.routers.ombi-secure.rule=Host(`ombi.maartenzuidland.nl`)"
      - "traefik.http.routers.ombi-secure.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.ombi-secure.tls=true"
      - "traefik.http.routers.ombi-secure.entrypoints=websecure"
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    networks:
      - web
    volumes:
      - '${ombi_config}:/config'
    ports:
      - 3579:3579
    restart: unless-stopped
  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.tautulli-redirect-websecure.redirectscheme.scheme=https"
      - "traefik.http.routers.tautulli.middlewares=tautulli-redirect-websecure"
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.maartenzuidland.nl`)"
      - "traefik.http.routers.tautulli.entrypoints=web"      
      - "traefik.http.routers.tautulli-secure.rule=Host(`tautulli.maartenzuidland.nl`)"
      - "traefik.http.routers.tautulli-secure.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.tautulli-secure.tls=true"
      - "traefik.http.routers.tautulli-secure.entrypoints=websecure"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - web
    volumes:
      - ${tautulli_config}:/config
      - ${plex_logs}:/logs
    ports:
      - 8181:8181
    restart: unless-stopped    

  traefik2:
    image: "traefik:v2.2"
    container_name: "traefik2"
    labels:
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=mydnschallenge"
      - "traefik.http.routers.traefik.tls.domains[0].main=maartenzuidland.nl"
      - "traefik.http.routers.traefik.tls.domains[0].sans=*.maartenzuidland.nl"
      - "traefik.http.routers.traefik.service=api@internal"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    secrets:
      - "transip_account"
      - "transip_private_key"
    environment:
      - "TRANSIP_ACCOUNT_NAME_FILE=/run/secrets/transip_account"
      - "TRANSIP_PRIVATE_KEY_PATH=/run/secrets/transip_private_key"
    volumes:
      - "${traefik2_config}/traefik.yml:/etc/traefik/traefik.yml"
      - "${traefik2_config}/letsencrypt:/letsencrypt"
      - "${traefik2_config}/access_logs:/access_logs"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - web
    restart: unless-stopped

networks:
    web:
      driver: bridge
      name: web