version: '3.5'

secrets:
  transip_account:
    file: ${traefik_secrets}/transip_account.secret
  transip_private_key:
    file: ${traefik_secrets}/transip_key.secret

services:
  hydra2:
    container_name: hydra2
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/hydra2
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hydra2.rule=Host(`hydra2.maartenzuidland.nl`)"
      - "traefik.http.routers.hydra2.entrypoints=websecure"
      - "traefik.http.routers.hydra2.tls.certresolver=mydnschallenge"
    networks:
        - web
    ports:
      - '5076:5076'
    restart: unless-stopped
    volumes:
      - '${hydra_config}:/config'
      - '${downloads}:/downloads'
  nzbget:
    container_name: nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/nzbget
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nzbget.rule=Host(`nzbget.maartenzuidland.nl`)"
      - "traefik.http.routers.nzbget.entrypoints=websecure"
      - "traefik.http.routers.nzbget.tls.certresolver=mydnschallenge"
    networks:
        - web
    ports:
      - '6788:6789'
    restart: unless-stopped
    volumes:
      - '${nzbget_config}:/config'
      - '${downloads}:/downloads'
      - '${main_drive}:/Volumes/My Book'

  sonarr:
    container_name: sonarr
    depends_on:
      - hydra2
      - nzbget
    links:
      - hydra2
      - nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/sonarr:preview
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.maartenzuidland.nl`)"
      - "traefik.http.routers.sonarr.entrypoints=websecure"
      - "traefik.http.routers.sonarr.tls.certresolver=mydnschallenge"
    networks:
        - web
    ports:
      - '8989:8989'
    restart: unless-stopped
    volumes:
      - '${sonarr_config}:/config'
      - '${downloads}:/downloads'
      - '${tv}:/tv'
      - '${main_drive}:/Volumes/My Book'
  radarr:
    container_name: radarr
    depends_on:
      - hydra2
      - nzbget
    links:
      - hydra2
      - nzbget
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: linuxserver/radarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.maartenzuidland.nl`)"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.tls.certresolver=mydnschallenge"
    networks:
        - web
    ports:
      - '7878:7878'
    restart: unless-stopped
    volumes:
      - '${radarr_config}:/config'
      - '${downloads}:/downloads'
      - '${movies}:/movies'
      - '${main_drive}:/Volumes/My Book'
  bazarr:
    container_name: bazarr
    depends_on:
      - radarr
      - sonarr
      - nzbget
    links:
      - radarr
      - sonarr
      - nzbget
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ} 
    image: linuxserver/bazarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.maartenzuidland.nl`)"
      - "traefik.http.routers.bazarr.entrypoints=websecure"
      - "traefik.http.routers.bazarr.tls.certresolver=mydnschallenge"
    networks:
      - web
    ports:
      - 6767:6767
    restart: unless-stopped
    volumes:
      - '${bazarr_config}:/config'
      - '${movies}:/movies'
      - '${tv}:/tv'
      - '${main_drive}:/Volumes/My Book'

  ombi:
    image: linuxserver/ombi
    container_name: ombi
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ombi.rule=Host(`ombi.maartenzuidland.nl`)"
      - "traefik.http.routers.ombi.entrypoints=websecure"
      - "traefik.http.routers.ombi.tls.certresolver=mydnschallenge"
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    networks:
      - web
    volumes:
      - '${ombi_config}:/config'
    ports:
      - 3579:3579
    restart: unless-stopped

  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.maartenzuidland.nl`)"
      - "traefik.http.routers.tautulli.entrypoints=websecure"
      - "traefik.http.routers.tautulli.tls.certresolver=mydnschallenge"
    networks:
      - web
    volumes:
      - ${tautulli_config}:/config
      - ${plex_logs}:/logs
    ports:
      - 8181:8181
    restart: unless-stopped
  
  traefik2:
    image: "traefik:v2.0"
    container_name: "traefik2"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    secrets:
      - "transip_account"
      - "transip_private_key"
    environment:
      - "TRANSIP_ACCOUNT_NAME_FILE=/run/secrets/transip_account"
      - "TRANSIP_PRIVATE_KEY_PATH=/run/secrets/transip_private_key"
    volumes:
      - "${traefik2_config}/traefik.yml:/etc/traefik/traefik.yml"
      - "${traefik2_config}/letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - web
    restart: unless-stopped

networks:
    web:
        driver: bridge
        name: web
