version: '3.5'

services:
  nzbhydra2:
    container_name: nzbhydra2
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: ghcr.io/linuxserver/nzbhydra2
    networks:
        - web
    ports:
      - '5076:5076'
    restart: unless-stopped
    volumes:
      - '${hydra_config}:/config'
      - '${downloads}:/downloads'
  sabnzbd:
    image: ghcr.io/linuxserver/sabnzbd
    container_name: sabnzbd
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    volumes:
      - ${sabnzbd_config}:/config
      - '${downloads}:/downloads'
      - ${downloads}/intermediate:/incomplete-downloads #optional
    ports:
      - 8084:8080
      - 9094:9090
    restart: unless-stopped
    networks:
      - web
  sonarr:
    container_name: sonarr
    depends_on:
      - nzbhydra2
      - sabnzbd
    links:
      - nzbhydra2
      - sabnzbd
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: ghcr.io/linuxserver/sonarr:preview
    networks:
        - web
    ports:
      - '8989:8989'
    restart: unless-stopped
    volumes:
      - '${sonarr_config}:/config'
      - '${downloads}:/downloads'
      - '${tv}:/tv'
      - '${main_drive}:/Volumes/My Book'
  radarr:
    container_name: radarr
    depends_on:
      - nzbhydra2
      - sabnzbd
    links:
      - nzbhydra2
      - sabnzbd
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    image: ghcr.io/linuxserver/radarr
    networks:
        - web
    ports:
      - '7878:7878'
    restart: unless-stopped
    volumes:
      - '${radarr_config}:/config'
      - '${downloads}:/downloads'
      - '${movies}:/movies'
      - '${main_drive}:/Volumes/My Book'
  bazarr:
    container_name: bazarr
    depends_on:
      - radarr
      - sonarr
    links:
      - radarr
      - sonarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ} 
    image: ghcr.io/linuxserver/bazarr
    networks:
      - web
    ports:
      - 6767:6767
    restart: unless-stopped
    volumes:
      - '${bazarr_config}:/config'
      - '${movies}:/movies'
      - '${tv}:/tv'
      - '${main_drive}:/Volumes/My Book'
  ombi:
    image: ghcr.io/linuxserver/ombi
    container_name: ombi
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    networks:
      - web
    volumes:
      - '${ombi_config}:/config'
    ports:
      - 3579:3579
    restart: unless-stopped
  tautulli:
    image: ghcr.io/linuxserver/tautulli
    container_name: tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - web
    volumes:
      - ${tautulli_config}:/config
      - ${plex_logs}:/logs
    ports:
      - 8181:8181
    restart: unless-stopped    
  swag:
    image: ghcr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
      - URL=maartenzuidland.nl
      - SUBDOMAINS=wildcard
      - VALIDATION=dns
      - DNSPLUGIN=transip
      - EMAIL=maarten.zuidland@gmail.com
      - MAXMINDB_LICENSE_KEY=23GEPwofPQylV13w
    networks:
      - web
    volumes:
      - ${swag_config}:/config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped

networks:
    web:
      driver: bridge
      name: web

secrets:
  nextcloud_admin_password:
    file: ./nextcloud_admin_password # put admin password to this file
  nextcloud_admin_user:
    file: ./nextcloud_admin_user # put admin username to this file
  mysql_db:
    file: ./mysql_db # put mysql db name to this file
  mysql_password:
    file: ./mysql_password # put mysql password to this file
  mysql_user:
    file: ./mysql_user # put mysql username to this file
  mysql_root_password:
    file: ./mysql_root_password # put mysql username to this file
